.layout {
    display: flex;
    flex-direction: row; /* Default for desktop */
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pageContent {
    padding: 2rem;
    background-color: var(--background-primary);
    flex-grow: 1;
    overflow-y: auto;
}

/* --- Media Query for tablets and smaller --- */
@media (max-width: 768px) {
    .layout {
        flex-direction: column; /* Stack sidebar and content on mobile */
    }

    .pageContent {
        padding: 1rem; /* Reduce padding on smaller screens */
    }
}