.layout {
    display: flex;
}
.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure it takes full height */
}
.pageContent {
    padding: 2rem;
    background-color: var(--background-primary);
    flex-grow: 1;
    overflow-y: auto; /* Allow scrolling for page content */
}
